.user-info {
    top: 0;
    left: 0;
    height: 10%;
    display: inline-flex;
    position: absolute;
    flex-direction: row; /* Mantiene los elementos en una fila */
    align-items: center; /* Alinea los elementos en la parte superior */
    justify-content: center; /* Alinea los elementos en el centro */
}

.user-photo {
    width: 10%;
    border-radius: 10%;
    margin-right: 10px; /* Espacio a la derecha de la foto */
}

.user-name {
    font-size: 20px;
    color: rgb(50, 91, 35);
}
