.ozone-canvas {
  left: 0;
  top: 30%;
  position: absolute;
  display: flex;
  justify-content: flex-start; /* Alinea los elementos al inicio del eje principal */
  align-items: flex-start; /* Alinea los elementos al inicio del eje transversal */
  width: 100vh;
  height: 50vh;
}

.intro-card {
  background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semi-transparente */
  color: black;
  border-radius: 10px; /* Bordes redondeados */
  padding: 20px; /* Espaciado interno */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
  width: 400px; /* Ancho de la tarjeta */
  position: absolute; /* Asegura que esté en la posición correcta */
  right: 15%; /* Ajusta según sea necesario */
  top: 30%; /* Alinea con el canvas */
  z-index: 1; /* Asegura que esté por encima del canvas */

}